
/*Запрещение выделения и тп ко всем эелемнтам*/
* {
    user-select: none; /* Запрещаем выделение текста */
    -webkit-user-select: none; /* Для поддержки веб-браузерами, основанными на WebKit */
    -moz-user-select: none; /* Для поддержки веб-браузерами, основанными на Gecko (Firefox) */
    -ms-user-select: none; /* Для поддержки веб-браузерами Internet Explorer/Edge */
    outline: none; /* Убираем обводку фокуса */
    box-shadow: none; /* Убираем тень */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    touch-action: manipulation;
}

/*Сама страница*/
body, html {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a;
    color: #f0f0f0;
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: url('dicpic/background.png');
    background-size: cover;
    background-origin: border-box;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.avatar {
    border-radius: 10px 10px 3px 3px;
    background-color: #000;
    width: 90%;
    height: 9%;
    margin: 5%;
    font-size: 100%;
    display: flex;
    align-items: center;
}

.avatar1 img {
    width: 40%;
    height: 40%;
    margin-left: 30%;
}

.avatar2 img {
    width: 50%;
    height: 10%;
    margin-left: 40%;
}

.avatar_pod {
    width: 90%;
    height: 10%;
    align-items: center;
    display: flex;
    margin: -3% 5% 3%;
    justify-content: space-around;
}

.avatar_pod1 {
    border-radius: 3px 3px 10px 10px;
    background-color: #000;
    width: 28%;
    height: 77%;
    padding: 1%;
    font-size: 100%;
    text-align: center;
}

.tap {
    top: 10%;
    position: relative;
}

.tap_coast {
    top: 10%;
    align-items: center;
    font-size: 100%;
    position: relative;
    text-align: center;
}

.tap_coast img{
    margin-left: 3%;
    width: 15%;
    height: 15%;
}

.avatar_pod2 {
    border-radius: 3px 3px 10px 10px;
    background-color: #000;
    width: 28%;
    height: 77%;
    padding: 1%;
    font-size: 100%;
    text-align: center;
}

.next_lvl {
    top: 10%;
    position: relative;
    width: 100%;
}

.next_lvl_coast {
    top: 10%;
    align-items: center;
    font-size: 100%;
    position: relative;
    text-align: center;
}

.next_lvl_coast img{
    margin-left: 3%;
    width: 15%;
    height: 15%;
}

.avatar_pod3 {
    border-radius: 3px 3px 10px 10px;
    background-color: #000;
    width: 28%;
    height: 77%;
    padding: 1%;
    font-size: 100%;
    text-align: center;
}

.passive {
    top: 10%;
    position: relative;
    width: 100%;
}

.passive_coast {
    top: 10%;
    align-items: center;
    font-size: 100%;
    position: relative;
    text-align: center;
}

.passive_coast img{
    margin-left: 3%;
    width: 15%;
    height: 15%;
}

.progress_coin {
    margin-top: 2%;
}

.progress_coin span{
    font-size: 50px;
}

.farm_coins {
    border-radius: 6px;
    width: 100%;
    height: 10%;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 250%;
    color: #fff;
    align-self: center;
    margin-top: 6%;
    margin-bottom: 2%;
}

.farm_coins img {
    width: 12%;
    height: 12%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.coin_button {
    width: 250px;
    height: 250px;
    display: flex;
    background: url('dicpic/dfd.png') no-repeat center;
    background-size: contain;
    margin-left: 18.5%;
    margin-top: 8.5%;
    border: none;
    outline: none;
    box-shadow: none;
    transition: transform 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
    z-index: 2;
}

.coin_button:active {
    transform: rotateX(5deg) rotateY(5deg);
}

@keyframes pressAnimation {
    0% {
        transform: scale(1);
    }
    70% {
        transform: scale(0.8);
    }
    90% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

.energy-info {
    border-radius: 6px;
    width: 90%;
    height: 10%;
    margin-top: 1%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-self: center;
}

.energy_tap{
    width: 30%;
    border: none;
    font-size: 130%;
    margin-left: 6%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.energy_tap img{
    margin: 5px;
    width: 15%;
    height: 15%;
    border: none;
    align-items: center;
}

.upg-button {
    width: 35%;
    align-items: center;
    display: flex;
    font-size: 110%;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
}

.upg-button img {
    margin: 5px;
    width: 22%;
    height: 22%;
    align-items: center;
}

.upg-content {
    display: none;
}

.upg-content.active {
    display: block;
}
